<div>
    <form class="form">
        <input list="searchOptions" type="text" name="searchOptions">
        <input list="distance" type="text" name="distance">
        <input type="text" name="userSearch">
        <input type="submit" value="Search" class="btn">

        <datalist id="searchOptions">
            <option value="title">
            <option value="author">
        </datalist>
        <datalist id="distance">
            <option value="1">
            <option value="5">
            <option value="10">
            <option value="15">
            <option value="20">
            <option value="25">
        </datalist>

    </form>
<agm-map 
    [latitude]="lat"
    [longitude]="lng" 
    [zoom]="18" 
>

    <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [opacity]="marker.alpha"
        (markerClick)="selectMarker($event)"
    >

<!--<agm-rectangle
        [north]="max('lat')"
        [east]="max('lng')"
        [south]="min('lat')"
        [west]="min('lng')"
    >
  </agm-rectangle> -->

  </agm-marker>
</agm-map>

<p *ngIf="selectedMarker">
    Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
</p>

</div>
