<div>
<app-find-book></app-find-book>
<agm-map 
    [latitude]="lat"
    [longitude]="lng" 
    [zoom]="18" 

>

    <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
        [opacity]="marker.alpha"
        (markerClick)="selectMarker($event)"
    >

<!--<agm-rectangle
        [north]="max('lat')"
        [east]="max('lng')"
        [south]="min('lat')"
        [west]="min('lng')"
    >
  </agm-rectangle> -->

  </agm-marker>
</agm-map>

<p *ngIf="selectedMarker">
    Lat: {{ selectedMarker.lat }} Lng: {{ selectedMarker.lng }}
</p>

</div>
