<div>
<form class="form" (ngSubmit)="getUsers()">
    <select name="searchOptions" [(ngModel)]="searchOptions" size="1">
        <option value="title">Title</option>
        <option value="author">Author</option>
    </select>
    <input type="text" name="userSearch" [(ngModel)]="userSearch" placeholder="Search">
    <br>
    <label for="radius"></label>
    <input type="text" name="radius" [(ngModel)]="radius" placeholder="Radius">
    <input type="submit" value="Search" class="btn" (click)="getUsers()">
</form>
</div>

