<form class="form" (ngSubmit)="onSubmit()">
  <div>
  <input type="text" name="title" [(ngModel)]="title" placeholder="Add Book..." (change)="onSearchChange($event)">
  <input type="text" name="author" [(ngModel)]="author" placeholder="Add Author..." (change)="onSearchChange($event)">
  </div>
  <p>
    --- or ---
  </p>
  <div>
      <input type="text" name="isbn" [(ngModel)]="isbn" placeholder="Add ISBN..." (change)="onSearchChange($event)">
  </div>
  <div>
  <input type="submit" value="Submit" class="btn">
  </div>
</form>