
.container {
    /* width: 100%; */
    margin-left: 365px;
}
.card{

    background-color: #2e2e2ece;
    width: 100%;
}
.card-body {
    color: darkgrey;
    width: 100%;
}
.row {
    color: darkgrey;
    width: 100%;
}
.form-group {
    color: darkgrey;

    width: 100%;
}
button{
    width: 100%;
    
}
