<div class ="bg">
  <app-header></app-header>
<div class="jumbotron">
  <div class="container">
      <h1 class="display-4 text-center text-white">Street Smarts</h1>
      <p class="h4 text-center text-white"><strong>A new adventure just down the street.</strong></p>
    </div>
</div>
<section class="hero mt-5">
  <div class="container">
    <!--Start Grid row-->
    <div class="row">
      <!--Grid column 1-->
      <div class="col-lg-6 col-md-12 mb-4">
        <div class="card shadow-lg">
          <a href="https://littlefreelibrary.org/"><img class="card-img-top img-liquid" src="../../assets/images/littleLib.png" alt="Scenery"></a>
          <div class="card-body">
              <h4 class="card-title"><a>Inspiration</a></h4>
              <p class="card-text">A great way to share books with your community.</p>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!--Grid column 1-->

      <!--Grid column 2-->
      <div class="col-lg-6 col-md-6 mb-4">
        <div class="card shadow-lg">
          <a href="https://docs.google.com/presentation/d/1h9Kx_cs0d4rlxFPZhO4oW-9Kbw51dZAMVm4yaPg4dl4/edit?usp=sharing"><img class="card-img-top img-liquid" src="../../assets/images/pp.png" alt="Scenery"></a>
          <div class="card-body">
              <h4 class="card-title"><a>Presentation</a></h4>
              <p class="card-text">Our lessons learned.</p>
          </div>
        </div>
        <!-- Card -->
      </div>
      <!--Grid column 2-->
    </div>
      
      <!-- <div class="bg">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4 text-center text-white">Street Smarts</h1>
            <p class="h4 text-center text-white"><strong>A new adventure just down the street.</strong></p>
          </div>
        </div>
        <section id="">
            <div class="container">
            
              <div class="row">
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card shadow-lg">
                    <a href="https://littlefreelibrary.org/" ><img class="card-img-top img-liquid" src="../../assets/images/littleLib.png" alt="Little Library"></a>
                      <h4 class="card-title"><a>Inspiration</a></h4>
                      <p class="card-text">A great way to share books with your community.</p>
                    </div>
                  </div>
                  
                </div>
             
          
                
                <div class="col-lg-4 col-md-6 col-sm-6">
                  <div class="card shadow-lg">
                    <a href="https://docs.google.com/presentation/d/1h9Kx_cs0d4rlxFPZhO4oW-9Kbw51dZAMVm4yaPg4dl4/edit?usp=sharing"><img class="card-img-top img-liquid" src="../../assets/images/pp.png" alt="Power Point"></a>
                    <div class="card-body">
                      <h4 class="card-title"><a>Presentation</a></h4>
                      <p class="card-text">Our lessons learned.</p>
                    </div>
               
                </div>
        
            </div>
      
          </div>
        </section> -->
  