<section id="cards">
    <div class="container">
      <h2 class="mb-5 text-center">Card Layouts</h2>
      <!--Start Grid row-->
      <div class="row">
        <!--Grid column 1-->
        <div class="col-lg-6 col-md-12 mb-4">
          <div class="card shadow-lg">
            <img class="card-img-top img-liquid" src="images/img-1.jpg" alt="Scenery">
            <div class="card-body">
              <h4 class="card-title"><a>Amazing</a></h4>
              <p class="card-text">Scenery</p>
              <a href="#" class="btn btn-primary">Button</a>
            </div>
          </div>
          <!-- Card -->
        </div>
        <!--Grid column 1-->
  
        <!--Grid column 2-->
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card shadow-lg">
            <img class="card-img-top img-liquid" src="images/img-1.jpg" alt="Scenery">
            <div class="card-body">
              <h4 class="card-title"><a>Amazing</a></h4>
              <p class="card-text">Scenery</p>
              <a href="#" class="btn btn-outline-primary">Button</a>
            </div>
          </div>
          <!-- Card -->
        </div>
      </div>
      <!--End Grid row-->
    </div>
    <!-- End Container -->
  </section>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4 text-center text-white mb-5 py-5">About me</h1>
      <p class="h4 text-center text-white"><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde perferendis distinctio voluptatibus nostrum iste, deserunt aut architecto laboriosam maxime possimus excepturi obcaecati amet consequatur qui minima, quod modi, officiis ducimus?</strong></p>
    </div>
  </div>
