<div class="container">

  <div class="card bg-light mt-3">
    <article class="card-body mx-auto" style="max-width: 400px;">
      <h4 class="card-title mt-3 text-center">Create Account</h4>
      <p class="text-center">Get started with your free account</p>
      <form>
        <div class="form-group input-group">
          <input name="" class="form-control" placeholder="User Name" type="text" (change)="onUserNameChange($event)">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <input name="" class="form-control" placeholder="Email address" type="email" (change)="onEmailChange($event)">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <input name="" class="form-control" placeholder="Address" type="text" (change)="onAddressChange($event)">
        </div> <!-- form-group// -->
        <h5 class="card-title mt-3 text-center">Birthday</h5>
        <div class="form-group input-group">
          <input name="" class="form-control" placeholder="Birthday" type="date" (change)="onBirthdayChange($event)">
        </div> <!-- form-group// -->

        <div class="form-group input-group">

          <input class="form-control" placeholder="Create password" type="password" (change)="onPassChange($event)">
        </div> <!-- form-group// -->
        <div class="form-group input-group">
          <input class="form-control" placeholder="Repeat password" type="password" (change)="onRepeatPassChange($event)">
        </div> <!-- form-group// -->
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" (click)="registerUser()"> Create Account </button>
        </div> <!-- form-group// -->
        <p class="text-center">Have an account? <a routerLink="/">Log In</a> </p>
      </form>
    </article>
  </div> <!-- card.// -->

</div>
<!--container end.//-->
